* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.2s ilnear;
}

body {
  background: #44a08d;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.wrapper {
  margin: 100px auto;
  padding: 0 10%;
  padding-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
}
h1 {
  color: #fff;
  font-size: 60px;
  padding-bottom: 40px;
  text-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}

 
.time-container {
  text-align: left;
  line-height: 1.2;
  margin: 0 auto;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid black;
  .time {
    color: white;
    font-size: 55px;
  }
  a {
    cursor: pointer;
    color: #73e6ff;
  }
  a:hover {
    color: #babdba;
  }
  a:active {
    color: #a1a3a1;
  }
}

span.ampm {
  color: #babdba;
  font-size: 20px;
}

h1:hover {
  letter-spacing: 1px;
}
.current_time{
  padding: 70px 35px 30px 35px;
  width: 100%;
  text-align: left;
  background: rgba(77, 74, 74, 0.7);
}
.current_time ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  li {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  .arrow-container {
    cursor: pointer;
    display: flex;
  }
  .year-container{
    display:flex;
    gap:20px;
  }
}


.weekdays, .days{
  display: grid;
  /* 7 equal columns */
  grid-template-columns: repeat(7, 1fr);
  background-color: rgba(77, 74, 74, 0.7);
  padding:0;
  margin: 0;
  color:white;
  font-size:30px;
  li{
    padding:20px 0;
  }
}
.notCurrentMonth{
  color:grey;
  opacity:0.9;
}

