body {
    /* light purple color */
    background: #8c52FF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background: rgba(255, 255, 255, 0.3);
    max-width: 25rem;
    padding:1rem;
    border-radius:15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

h2, label, p {
    color: #fff;
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

button {
    background: #debff4;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    margin-top: 1.5rem;
    width: 6.25rem;
    font-size: 1rem;
}

button:hover {
    background: #8b48d7;
}

#temp-div {
    font-size: 3.75rem;
    margin-top: -2rem;
}



#weather-icon {
    width: 12.5rem;
    height: 12.5rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

